.crossword {
    clear:both;
    margin-top:1em;
	/* overflow: auto; */
}
.crossword tbody {
    border-top: none;
}
.crossword td {
    border:1px solid black;
    padding:0;
    margin:0;
    vertical-align:middle;
    padding:0;
    text-align:center;
	background-color: #fff;
    width:3em;
    height:3em;
	position: relative;
}
.crossword_col {
    overflow: auto;
     margin: 0 0px 0px -15px; 
}
.h5p-column .crossword_col {
	margin: 0;
}
.crossword td span {
	color: #444;
	font-size: 0.8em;
	position: absolute;
	top: -1px;
	left: 1px;
}

.crossword td input {
	border:1px solid #ddd;
    padding:0;
    margin:0;
    vertical-align:middle;
    padding:0;
    text-align:center;
	background-color: #f5f5f5;
    width:1.6em;
    height:1.65em;
    font-size: 1.75em;
    color: #5f5f5f;
	text-transform: lowercase;
    cursor: pointer;
}

.crossword .no-border {
    border: none;
}

.crossword td input.solved {
	background-color: #fff !important;
}
.crossword td input.hide{
	background-color: #ffffb3;
}

.crossword td input.focused {
    background: #f1f1f1;
}
/* Highlight current solved instead of text highlight */
.crossword .solved.focused:focus {
    background: #fff !important;
    border-color: #747474;
}
.crossword td input:focus {
	background-color: #cfcfcf;
}

.crossword td input.solved:focus{
	background-color: #cfcfcf;
}
.crossword td input.hide.solved:focus{
	background-color: #ededed;
}
/* Hide blicking caret */
.crossword input[type="text"]{
    color : transparent;
    text-shadow : 0 0 0 #3f3f3f;
}
.crossword input[type="text"]:focus{
    outline : none;
}

span.focused{
	background:#f2f2f2;
	padding: 1px;
}
.h5p-joubelui-button {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0.5em 1em;
  padding: 0.5em 1.25em;
  border-radius: 2em;

  background: #1a73d9;
  color: #ffffff;

  cursor: pointer;
  border: none;
  box-shadow: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  display: inline-block;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  vertical-align: baseline;
}
.h5p-question-buttons {
  vertical-align:center;
  margin: 0 1em;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s cubic-bezier(0,1,0,1);
}
.h5p-question-buttons.h5p-question-visible {
  max-height: none;
  opacity: 1;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s ease-in;
}
.checks{
	margin-top: 5em;
	margin-bottom: 2em;
	display: inline-block;
}
span.check_text{
	font-size:2em;
	border: 1px;
}
.crossword td span.word_h{
	left: .2em;
	top:-0.1em;
	vertical-align:left;
    font-size: 1em;
    color: #808080;
}
.crossword td span.word_v{
	left: .2em;
	top:-0.1em;
	vertical-align:bottom;
    font-size: 1em;
    color: #808080;
}
div#checks {
    display: inherit;
}
/* Stop Text Highlighting */
.noselect::selection {
  background: none; /* WebKit/Blink Browsers */
}
.noselect::-moz-selection {
  background: none; /* Gecko Browsers */
}
/* Fix clues to bottom of screen on mobile */
.legend_fixed {
  position: fixed !important;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background: #fff;
  overflow-y: auto;
  border-top: solid;
  border-width: 1px;
  border-color: #ddd;
  z-index: 1000;
}
.legend_padding {
	height: 100px;
}